div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  & div.contactContainer {
    width: 900px;
  }
}

div.call,
div.email,
div.git,
div.linkedin {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}
